



<%= form_for(@message, :url => messages_path, remote: true,  html: {class: "contact-form"}) do |f| %>
  <!--  General -->

  <div class="col-md-12" id="flash-message">
    <%= render 'messages/flash' %>
  </div>
  <div class="form-group">
    <h2 class="heading">Informação para Contato</h2>
    <div class="controls">
        <label for="name">Nome</label>
      <%= f.text_field :name, class:"form-control" %>

    </div>
    <div class="controls">
    <label for="email">Email:</label>
    <%= f.text_field :email, class:"form-control" %>

    </div>
    <div class="controls">
        <label for="telefone">Telefone:</label>
    <%= f.text_field :fone, class:"form-control" %>

    </div>
  </div>
  <!--  Details -->
  <div class="form-group">
    <h2 class="heading">O que deseja?</h2>
    <div class="controls">
      <%= f.text_area :message, class: "form-control textarea" %>

      <%= f.button "Enviar Mensagem", class: "btn btn-sucess btn-lg btn-block" %>
    </div>

  </div>

<% end %>
