
  <section class="latest section">
<div class="section-inner">
  <h2 class="heading">Latest Projects</h2>
  <div class="content">


<% @post_last.each do |post| %>

      <div class="item featured text-center">
          <h3 class="title"><a href="<%= post_url(post) %>" target="_blank"><%= post.title %></a></h3>
          <p class="summary"></p>
          <div class="featured-image">
              <a href="<%= post_url(post) %>" target="_blank">

<%= image_tag(post.image, class: "img-responsive project-image", alt: post.title) %>

              </a>
              <div class="ribbon">
                  <div class="text">New</div>
                  </div>
              </div>

          <div class="desc text-left">

<%= raw post.body.truncate(125, omission: '... (continue)') %>

                     </div><!--//desc-->
          <a class="btn btn-cta-secondary" href="<%= post_url(post) %>" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
      </div><!--//item-->
      <hr class="divider" />
<% end %>
  <% @post.each do |post| %>
      <div class="item row">

          <a class="col-md-4 col-sm-4 col-xs-12" href="<%= post_url(post) %>" target="_blank">
            <%= image_tag(post.image, class: "img-responsive project-image", alt: post.title) %>
                               </a>
          <div class="desc col-md-8 col-sm-8 col-xs-12">
              <h3 class="title"><a href="<%= post_url(post) %>" target="_blank"><%= post.title %></a></h3>
              <%= raw post.body.truncate(125, omission: '... (continue)') %>
              <p><a class="more-link" href="<%= post_url(post) %>" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
          </div><!--//desc-->
      </div><!--//item-->
<% end %>


  </div><!--//content-->
  </div><!--//section-inner-->
  </section><!--//section-->
