
  <aside class="skills aside section">
  <div class="section-inner">


     <%= snip('skills') %>


  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="testimonials aside section">
  <div class="section-inner">

  <%= render "pages/testimonials" %>

  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="education aside section">
  <div class="section-inner">
  <%= snip('education') %>
  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="languages aside section">
  <div class="section-inner">
  <%= snip('languages') %>
  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="blog aside section">
  <div class="section-inner">
  <%= snip('blogs') %>
  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="list music aside section">
  <div class="section-inner">
<%= snip('song') %>
  </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="list conferences aside section">
  <div class="section-inner">

<%= snip('conferences') %>

    </div><!--//section-inner-->
  </aside><!--//section-->

  <aside class="credits aside section">
  <div class="section-inner">


<%= render "pages/credits" %>


  </div><!--//section-inner-->
  </aside><!--//section-->
   <div class="" id="ytWidget"></div>
  </div><!--//secondary-->
  </div><!--//row-->
  </div><!--//masonry-->
