  <div class="container sections-wrapper">
  <div class="row">
  <div class="primary col-md-8 col-sm-12 col-xs-12">
  <section class="about section">
  <div class="section-inner">

  <%= snip('about') %>

  </div><!--//section-inner-->
  </section><!--//section-->

  <%= render "pages/project" %>


  <section class="projects section">
<div class="section-inner">

  <%= render "pages/other" %>

  </div><!--//section-inner-->
  </section><!--//section-->

  <section class="experience section">
  <div class="section-inner">

  <%= render "pages/work" %>

  </div><!--//section-inner-->
  </section><!--//section-->
  <section class="github section">
  <div class="section-inner">

 <%= render "pages/github" %>

  </div><!--//secton-inner-->
  </section><!--//section-->
  </div><!--//primary-->
  <div class="secondary col-md-4 col-sm-12 col-xs-12">
  <aside class="info aside section">
  <div class="section-inner">

<%= render "pages/information" %>


  </div><!--//section-inner-->
  </aside><!--//aside-->


<%= render "pages/sidebar" %>
