<!-- ******HEADER****** -->
<header class="header">
    <div class="container">

    <a title="<%= @site.title %>" href="<%= root_url %>">
      <%= image_tag(gravatar(@site.email, 140), class: "profile-image img-responsive pull-left img-circle", alt: @site.title) %>
    </a>
        <div class="profile-content pull-left">

            <h1 class="name"><%= @site.title %></h1>
            <h2 class="desc"><%= @site.site_descricao %></h2>
            <ul class="social list-inline">
                <li><a target="_blank" href="http://www.twitter.com/marviorocha"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="http://www.facebook.com/marviorocha"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="http://www.linkedin.com/in/marviorocha"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="http://www.github.com/marviorocha"><i class="fa fa-github-alt"></i></a></li>

            </ul>
        </div><!--//profile-->
            <a href="<%= messages_url %>" class="btn btn-cta-primary pull-right"    target="_parent"><i class="fa fa-paper-plane"></i> Entre em Contato</a>
    </div><!--//container-->
</header><!--//header-->

<!-- Modal -->
